Game/.vs/Chrono-Attack/v17/ipch/AutoPCH/819b65246e4b81d3/CHRONO-ATTACK.ipch
Game/.vs/Chrono-Attack/v17/DocumentLayout.json
Game/.vs/Chrono-Attack/v17/DocumentLayout.backup.json
Game/.vs/Chrono-Attack/v17/Browse.VC.opendb
Game/.vs/Chrono-Attack/v17/Browse.VC.db-wal
Game/.vs/Chrono-Attack/v17/Browse.VC.db-shm
Game/.vs/Chrono-Attack/v17/Browse.VC.db
Game/.vs/Chrono-Attack/v17/.suo
Game/.vs/Chrono-Attack/FileContentIndex/f27320f5-859b-4177-aace-7cf95e0c660a.vsidx
Game/.vs/Chrono-Attack/FileContentIndex/aadf5536-8dcb-4d2b-b06a-fd0465af9614.vsidx
Game/.vs/Chrono-Attack/FileContentIndex/8413b48e-6853-47d9-b358-c38ea172b542.vsidx
Game/.vs/Chrono-Attack/FileContentIndex/0e3f1965-27cf-4508-8efc-65fc13f674cd.vsidx
Game/.vs/Chrono-Attack/CopilotIndices/17.14.698.11175/SemanticSymbols.db-wal
Game/.vs/Chrono-Attack/CopilotIndices/17.14.698.11175/SemanticSymbols.db-shm
Game/.vs/Chrono-Attack/CopilotIndices/17.14.698.11175/SemanticSymbols.db
Game/.vs/Chrono-Attack/CopilotIndices/17.14.698.11175/CodeChunks.db-wal
Game/.vs/Chrono-Attack/CopilotIndices/17.14.698.11175/CodeChunks.db-shm
Game/.vs/Chrono-Attack/CopilotIndices/17.14.698.11175/CodeChunks.db
